
footer {
  margin-top: 80px;
  background-color: #26221d;
  padding-bottom: 20px;


    .footer-content {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 0 0;
      box-sizing: border-box;


      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;

        li {
          padding: 10px;
          text-align: center;

          a{
            text-decoration: none;
            color: #fff;

            &:hover {
              color: #ff7617;
            }
          }
        }
        @media only screen and (max-width: 520px) {
          display: block;
          transform: scale(1.1);
        }
      }
      @media only screen and (max-width: 520px) {
        max-width: 100%;
      }
    }
    .copyright {
      text-align: center;
      color: #fff;
    }
}
