footer
    div.footer-content
        ul
          li
            a(href="/") Terms & Conditions
          li
            a(href="/") Privacy Policy
          li
            a(href="/") Get In Touch
          li
            a(href="/") Disclaimer
        
    p.copyright &copy; 2017 Be Jounetsu. All rights reserved.
