footer
    div.footer-content
        div.terms
            ul
              li.sub Terms
              li
                a(href="/") Terms of Business
              li
                a(href="/") Privacy Policy
              li
                a(href="/") Shipping Details
        div.company
            ul
              li.sub Company
              li
                a(href="/") About Us
              li
                a(href="/") Get in Touch
              li
                a(href="/") Affiliation Details
        //- div.safety
        //-     p All transactions are done on Amazon website.
    p.copyright &copy; 2017 Be Jounetsu. All rights reserved.
