section.content-container
        div.content-wrap
            div.content-title
                h2 Enhance Your Desk Space From These Setups
            div.cc-row
                a.desk-setup(href="/")
                  img(src="../img/setup-5.jpg")
                  div.overlay-home
                      div.text-info 
                          h3 Product name
                          p This is where product detail will go.
                          p Read more....
                a.desk-setup(href="/")
                  img(src="../img/setup-1.jpg")
                  div.overlay-home
                      div.text-info 
                          h3 Product name
                          p This is where product detail will go.
                          p Read more...

            div.cc-row.desktop
                a.desk-setup(href="/")
                  img(src="../img/setup-3.jpg")
                  div.overlay-home
                      div.text-info.sm-group 
                          h3 Product name
                          p This is where product detail will go.
                          p Read more...
                a.desk-setup(href="/")
                  img(src="../img/setup-4.jpg")
                  div.overlay-home
                      div.text-info.sm-group 
                          h3 Product name
                          p This is where product detail will go.
                          p Read more...
                a.desk-setup(href="/")
                  img(src="../img/setup-2.jpg")
                  div.overlay-home
                      div.text-info.sm-group 
                          h3 Product name
                          p This is where product detail will go.
                          p Read more...
            div.cc-row.mob-tab
                a.desk-setup(href="/")
                  img(src="../img/setup-3.jpg")
                  div.overlay-home
                      div.text-info
                          h3 Product Name
                          p This is where product detail will go.
                          p Read more...
                a.desk-setup(href="/")
                  img(src="../img/setup-4.jpg")
                  div.overlay-home
                      div.text-info
                          h3 Product Name
                          p This is where product detail will go.
                          p Read more...
            div.cc-row.mob-tab
                a.desk-setup.one-setup(href="/")
                  img(src="../img/setup-2.jpg")
                  div.overlay-home
                      div.text-info
                          h3 Product Name
                          p This is where product detail will go.
                          p Read more...
