header
  div.logo-small
    a(href="/", class="sm-logo")
      img(src="../img/logo-redorange.png")
  div.mobile-nav-toggle
    span
    span 
    span
    span
    
  div.topbar
    a.logo(href="#")
      img(src="../img/logo-redorange.png", alt="Be Jounetsu")
    nav
      ul
        li
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="/product.html") Products
        li
          a(href="#") Setups
        li
          a(href="#") Contact
